.hide { display: none; }

h1,h2,h3,h4,h5,h6 {
	font-weight: bold;
	color: #189CDA;
}

a,a:visited { color: #68C2FF; text-decoration: none; }

h1 { font-size: 30px; color: #68C2FF; }
h2 { font-size: 26px; }
h3 { font-size: 22px; }
h4 { font-size: 16px; margin-bottom: 10px; }

#page-wrapper {
	width: 950px;
	position: relative;
	float: left;
	left: 50%;
	margin-left: -475px;;
}

#page-header {
	margin-bottom: 40px;
	padding: 20px;
	background-color: #191919;
	color: #FFFFFF;
	position: relative;
	-webkit-border-bottom-left-radius: 10px;
	-webkit-border-bottom-right-radius: 10px;
	-moz-border-radius-bottomleft: 10px;
	-moz-border-radius-bottomright: 10px;
}

#page-header p {
	margin-top: 10px;
}

#info-panel {
	margin: 0 10px 30px 10px;
	padding: 50px 0;
	border-bottom: 2px solid #1E1E1E;
	border-top: 2px solid #1E1E1E;
	float: left;
}

#info-panel p {
	line-height: 20px;
}

#instructions {
	width: 45%;
	float: left;
}

#instructions p + p {
	margin: 15px 0 10px 0;
}

.notes-section {
	margin: 20px 0;
}

.notes-section ul {
	margin: 10px 0 0 15px;
}

#swatch-wrapper {
	width: 225px;
	float: left;
	clear: left;
}

#color-swatches {
	float: left;
}

#picker-container {
	width: 356px;
	float: right;
}

.swatch {
	float: left;
	margin-top: 10px;
	padding: 2px;
	border: 1px solid #CCCCCC;
	background-color: #999799;
	opacity: 0.50;
	-webkit-transition: opacity .5s linear;
	list-style: none;
}

.swatch a {
	width: 20px;
	height: 20px;
	border: 3px solid #474447;
	background-color: #bd1746;
	cursor: pointer;
	float: left;
	display: block;
}

#swatch-controls {
	margin-top: 10px;
	padding: 10px;
	border: 1px solid #CCCCCC;
	float: left;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	background-color: #FFFFFF;
	clear: both;
}

#swatch-controls #remove-trigger {
	width: 20px;
	height: 25px;
	margin-right: 10px;
	display: block;
	background: url(/images/icons/remove.png) no-repeat 0 5px;
	text-indent: -9999px;
	overflow: hidden;
	float: left;
}

#swatch-controls #swatch-slider {
	width: 200px;
	height: 15px;
	margin: 7px 0;
	float: left;
}

#swatch-controls #swatch-slider .ui-slider-handle {
	top: -2px;
}

#swatch-controls #slider-input {
	margin-top: 5px;
	float: right;
}
#swatch-controls #slider-input input{
	width: 25px;
}

.swatch.selected-swatch {
	background-color: #FFFFFF;
	opacity: 1;
}

.swatch.selected-swatch .swatch-color{
	border-color: #1e1e1e;
}

#sample-button-container {
	width: 220px;
	margin-left: 50px;
	float: left;
}

#sample-button-container #plain-text {
	margin-left: 10px;
	display: block;
	line-height: 30px;
	float: left;
}

#swatch-wrapper h3 {
	margin-right: 5px;
	float: left;
}

#swatch-wrapper p {
	clear: both;
}

#sample-button-container #sample-btn,
#sample-button-container #sample-btn:visited {
	width: 100px;
	height: 50px;
	margin-bottom: 10px;
	padding-left: 10px;
	display: block;
	background-color: #333333;
	background: -webkit-gradient(
		linear,
		left top,
		left bottom,
		color-stop(0, #4a3f3f),color-stop(0.44, #a61e1e));
	line-height: 50px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	color: #FFFFFF;
	text-decoration: none;
	clear: both;
}

#add-swatch {
	height: 25px;
	width: 20px;
	font-size: 11px;
	background: url(/images/icons/add.png) no-repeat 0 5px;
	text-indent: -9999px;
	overflow: hidden;
	display: block;
	float: left;
}

#g-generator {
	width: 950px;
	margin-bottom: 30px;
	float: left;
	clear: both;
}

#g-generator h2 {
	margin-bottom: 20px;
}

#footer {
	width: 950px;
	margin-top: 20px;
	padding: 20px;
	background-color: #191919;
	clear: both;
	float: left;
	color: #FFFFFF;
	-webkit-border-top-left-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;
}

#footer h3 {
	color: #68C2FF;
}

#footer .left-block {
	width: 575px;
	float: left;
}

#footer .right-block {
	float: right;
}

#footer dl dt:not(:first-child) {
	margin-top: 5px;
}

/**
* Style Code sampling
*/
#gradient-css {
	font-family: monospace;
}

.code span {
	margin-left: 20px;
	display: block;
}

dl dd + dt {
	margin-top: 10px;
}

dl dd {
	margin: 0;
	line-height: 20px;
}

.details-section {
	float: left;
	width: 45%;
	margin-left: 90px;
}

.jump-nav {
	position: absolute;
	bottom: 2px;
}

.jump-nav li{
	list-style: none;
	float: left;
	font-weight: bold;
}

.jump-nav li:not(:first-child) {
	margin-left: 30px;
}

#gradient-direction {
	margin-bottom: 40px;
	float: left;
}

#gradient-direction .select-wrapper label {
	display: block;
	color: #189CDA;
	font-weight: bold;
}

.select-wrapper {
	margin-top: 10px;
	float: left;
}

.select-wrapper input[type="text"] {
	width: 25px;
}

.select-wrapper:not(:nth-of-type(1)) {
	margin-left: 30px;
}

/**
* Digg iFrame Styles
*/
iframe {
	position: relative;
	top: -48px;
	right: -474px;
}

/**
* News Block
*/
#generator-news {
	margin: 0 10px 30px;
}

#generator-news .post-date {
	margin-left: 10px;
	color: #333333;
	font-weight: bold;
	font-size: 14px;
}

#generator-news p {
	line-height: 18px;
}

#generator-news p + p {
	margin-top: 10px;
}